html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

html {
    min-height: 100%;
    position: relative;
}

body { margin-bottom: 60px; }

.field-validation-error { color: #a94442; }

.input-validation-error { border-color: #a94442; }

.navbar-nav a.active {
    color: white;
    font-weight: bold;
}

.card {
    left: 50%;
    position: absolute;
    top: 120px;
    transform: translate(-50%, 0);
    z-index: 10;
}

.rounded {
    border-radius: 0.5rem;
}

.card-fix-center {
    top: 0 !important;
    position: relative !important;
    max-width: 550px;
}
/*.center-right {
    position: absolute;
    right: 25%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

*/