html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

html {
    min-height: 100%;
    position: relative;
}

body { margin-bottom: 60px; }

.field-validation-error { color: #a94442; }

.input-validation-error { border-color: #a94442; }

.navbar-nav a.active {
    color: white;
    font-weight: bold;
}

.card {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}